*
*/
!.gitignore


!templates/
templates/joomcharta
!templates/joomcharta/
!templates/joomcharta/**

!media/
!media/templates/
!media/templates/site/
!media/templates/site/joomcharta/
!media/templates/site/joomcharta/**

!language/
!language/en-GB/
!language/en-GB/tpl_joomcharta.ini
!language/en-GB/tpl_joomcharta.sys.ini

!license.md

