//my defaults
:root{
    --light: #f8f9fa;
    --bs-body-bg: #e2e2e2;
    --jc-main-bg: #ffffff;
    --jc-container-bg: #eeeeee;

}


@include color-mode(dark) {
    --light: #0e0e0e;
    --bs-body-bg: #0a0a0a;
    --jc-main-bg: #1c1c1c;
    --jc-container-bg: #050505;
}



.bg-light{
    background-color: var(--light) !important;
}




