//my defaults
//this is the color file for the MINTY theme
:root {

    --jc-light: #f5f5f5;
    --jc-white: #ffffff;
    --jc-subtle: #f3f3f3;
    --jc-container-bg: #fafafa;
    --jc-body-bg: #e6e6e6;
    --jc-card-bg: #ffffff;
    --jc-main-bg: #ffffff;
    --jc-primary: #043d29;
    --jc-primary-dark: #043d29;
    --jc-primary-light: #3c8a6f;
    --jc-secondary: #2d427a;
    --jc-secondary-dark: #273866;    
}


[data-bs-theme="dark"]{
    
    --jc-light: #131313;
    --jc-white: #000000;
    --jc-subtle: #2e2e2e;
    --jc-container-bg: #131313;
    --jc-body-bg: #000000;
    --jc-card-bg: #131313;
    --jc-main-bg: #202020;
    --jc-primary: #3c8a6f;
    --jc-primary-dark: #3c8a6f;
    --jc-secondary: #45609c;
    --jc-secondary-dark: #3f5796;
    
}

body{
    background-color: var(--jc-body-bg);
}
    


.bg-subtle{
    background-color: var(--jc-subtle) !important;
}

.bg-light{
    background-color: var(--light) !important;
}

#dark-light-toggle{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 9999;
    img{
        aspect-ratio: 1;
    }
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
}

#dark-light-toggle{
    background: #131313;
}

//html selector with data data-bs-theme
html[data-bs-theme="dark"]{
    #dark-light-toggle{
        background: #525252;
    }
}

.text-jc-linkcolor{
    color: rgb(var(--bs-link-color-rgb)) !important;
}


//special header coloring
.header-color-onprimary{
    background-color: var(--jc-primary) !important;
    color: white !important;
    .text-jc-linkcolor, a{
        color: white !important;
    }
}

.nav-link{
    color: white;
}