


@include color-mode(light) {
.navbar-dark .navbar-nav{
    --bs-nav-link-color: var(--jc-light);
    --bs-navbar-color: var(--jc-light);
}
}

@include color-mode(dark) {
    .navbar-dark .navbar-nav{
        --bs-nav-link-color: var(--jc-dark);
        --bs-navbar-color: var(--jc-dark);
    }
}

.btn{
    background: var(--jc-primary);
    color: var(--jc-primary-inverse);
    border-radius: 0;
}

.btn:hover{
    background: var(--jc-primary-dark);
    color: var(--jc-primary-inverse);
    border: 1px solid var(--jc-info-dark);
}

.btn-info{
    background: var(--jc-info);
    color: var(--jc-info-textcolor);
    border-radius: 0;
    border: 1px solid var(--jc-info-dark);
}

a{
    color: var(--jc-link-color);
}

.card{
    background: var(--jc-card-bg);
}